<footer class="footer-container">
    <div class="footer-wrapper">
        <div class="footer-column">
            <h5 class="column-title title">
                صفحه اصلی
            </h5>
            <a class="column-link title_small" href="#about">
                درباره ما
            </a>
            <a class="column-link title_small" href="#contact">
                ارتباط با ما
            </a>
            <a class="column-link title_small" href="#education">
                تحصیل در قبرس
            </a>
            <a class="column-link title_small" href="#cyprus">
                چرا قبرس؟
            </a>
        </div>
        <div class="footer-column">
            <h5 class="column-title title">
                قبرس
            </h5>
            <a class="column-link title_small" href="#about">
                اخذ اقامت
            </a>
            <a class="column-link title_small" href="#contact">
                تحصیل در قبرس
            </a>
            <a class="column-link title_small" href="#education">
                دانشگاه ها
            </a>
            <a class="column-link title_small" href="#cyprus">
                فرهنگ
            </a>
        </div>
        <div class="footer-column">
            <h5 class="column-title title">
                اقامت دانشجویی
            </h5>
            <a class="column-link title_small" href="#about">
                مدارک نیاز 
            </a>
            <a class="column-link title_small" href="#contact">
                لورم ایپسوم
            </a>
            <a class="column-link title_small" href="#education">
                لورم ایپسوم
            </a>
            <a class="column-link title_small" href="#cyprus">
                لورم ایپسوم
            </a>
        </div>
        <div class="footer-logo">
            <img src="https://picsum.photos/700/700" alt="">
        </div>
    </div>
    <div class="team-00 title">
        Developed With
        <div class="heart">
            ❤
        </div>
        by <a href="https://00-team.org/"> 00 Team </a>
    </div>
</footer>