main.project {
    width: 100%;

    padding: 7vh 5vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;

    position: relative;
    isolation: isolate;
    overflow: hidden;

    section.row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        column-gap: calc(2vw + 10px);
        row-gap: calc(2vh + 10px);

        width: clamp(0px, 100%, 1750px);

        padding: 2rem;

        @media screen and (min-width: 1024px) {
            &:nth-child(odd) {
                flex-direction: row-reverse;
            }
        }

        img.row-img {
            width: clamp(0px, 100%, 500px);
            max-height: 500px;

            object-fit: cover;
            border-radius: 10px;
            margin: 0 auto;
        }

        article.row-data {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2vh;
            margin: 0 auto;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
}
