main.project {
    width: 100%;

    padding: 7vh 5vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;

    position: relative;
    isolation: isolate;
    overflow: hidden;

    @media screen and (max-width: 1024px) {
        padding: 5vh 3vw;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        isolation: isolate;

        width: 100%;

        .line {
            position: absolute;

            z-index: -1;

            width: 30vw;
            height: 2px;

            @media screen and (max-width: 768px) {
                width: 15vw;
            }

            &::before {
                content: '';

                position: absolute;
                width: 100%;
                height: 100%;

                background-color: black;
            }

            &:nth-child(1) {
                bottom: 50%;
                right: 0;

                width: 2px;
                height: 30vh;

                &::before {
                    height: 0;

                    animation: line-one 0.4s ease-in-out forwards;

                    @keyframes line-one {
                        from {
                            height: 0;
                        }
                        to {
                            height: 100%;
                        }
                    }
                }
            }
            &:nth-child(2) {
                top: 50%;
                right: 0;

                &::before {
                    width: 0;

                    animation: line-two 0.4s ease-in-out forwards;
                    animation-delay: 0.35s;

                    @keyframes line-two {
                        from {
                            width: 0;
                        }
                        to {
                            width: 100%;
                        }
                    }
                }
            }
            &:nth-child(3) {
                top: 50%;
                left: 0;

                &::before {
                    width: 0;

                    animation: line-three 0.4s ease-in-out forwards;
                    animation-delay: 0.65s;

                    @keyframes line-three {
                        from {
                            width: 0;
                        }
                        to {
                            width: 100%;
                        }
                    }
                }
            }
            &:nth-child(4) {
                top: 50%;
                left: 0;

                width: 2px;
                height: 50vh;

                &::before {
                    height: 0;

                    animation: line-four 0.4s ease-in-out forwards;
                    animation-delay: 1s;

                    @keyframes line-four {
                        from {
                            height: 0;
                        }
                        to {
                            height: 100%;
                        }
                    }
                }
            }
        }

        span {
            white-space: nowrap;

            z-index: 1;

            padding: 0 1em;

            background-color: var(--accent-color);
        }
    }

    section.row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        column-gap: calc(2vw + 10px);
        row-gap: calc(2vh + 10px);

        width: clamp(0px, 100%, 1750px);

        padding: 2rem;

        @media screen and (max-width: 768px) {
            padding: 1rem;
        }

        @media screen and (min-width: 1024px) {
            &:nth-child(odd) {
                flex-direction: row-reverse;
            }
        }

        img.row-img {
            width: clamp(0px, 100%, 500px);
            max-height: 500px;

            object-fit: contain;
            border-radius: 10px;
            margin: 0 auto;

            @media screen and (max-width: 1240px) {
                width: clamp(0px, 100%, 450px);
                max-height: 450px;
            }
            @media screen and (max-width: 1024px) {
                width: clamp(0px, 100%, 400px);
                max-height: 400px;
            }
        }

        article.row-data {
            width: 45%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            gap: 2vh;
            margin: 0 auto;

            line-height: 1.5em;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
}
