main.project {
    width: 100%;

    padding: 7vh 5vw 0 5vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;

    position: relative;
    isolation: isolate;
    overflow: hidden;

    @media screen and (max-width: 1024px) {
        padding: 5vh 3vw;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        isolation: isolate;

        width: 100%;

        .line {
            position: absolute;

            z-index: -1;

            width: 30vw;
            height: 2px;

            @media screen and (max-width: 768px) {
                width: 15vw;
            }

            &::before {
                content: '';

                position: absolute;
                width: 100%;
                height: 100%;

                background-color: black;
            }

            &:nth-child(1) {
                bottom: 50%;
                right: 0;

                width: 2px;
                height: 30vh;

                &::before {
                    height: 0;

                    animation: line-one 0.4s ease-in-out forwards;

                    @keyframes line-one {
                        from {
                            height: 0;
                        }
                        to {
                            height: 100%;
                        }
                    }
                }
            }
            &:nth-child(2) {
                top: 50%;
                right: 0;

                &::before {
                    width: 0;

                    animation: line-two 0.4s ease-in-out forwards;
                    animation-delay: 0.35s;

                    @keyframes line-two {
                        from {
                            width: 0;
                        }
                        to {
                            width: 100%;
                        }
                    }
                }
            }
            &:nth-child(3) {
                top: 50%;
                left: 0;

                &::before {
                    width: 0;

                    animation: line-three 0.4s ease-in-out forwards;
                    animation-delay: 0.65s;

                    @keyframes line-three {
                        from {
                            width: 0;
                        }
                        to {
                            width: 100%;
                        }
                    }
                }
            }
            &:nth-child(4) {
                top: 50%;
                left: 0;

                width: 2px;
                height: 50vh;

                &::before {
                    height: 0;

                    animation: line-four 0.4s ease-in-out forwards;
                    animation-delay: 1s;

                    @keyframes line-four {
                        from {
                            height: 0;
                        }
                        to {
                            height: 100%;
                        }
                    }
                }
            }
        }

        span {
            white-space: nowrap;

            z-index: 1;

            padding: 0 1em;

            background-color: var(--accent-color);
        }
    }

    section.row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        column-gap: calc(2vw + 10px);
        row-gap: calc(2vh + 10px);

        width: clamp(0px, 100%, 1750px);

        padding: 2rem;

        @media screen and (max-width: 768px) {
            padding: 1rem;
        }

        @media screen and (min-width: 1024px) {
            &:nth-child(odd) {
                flex-direction: row-reverse;
            }
        }

        img.row-img {
            width: clamp(0px, 100%, 500px);
            max-height: 500px;

            object-fit: contain;
            border-radius: 10px;
            margin: 0 auto;

            @media screen and (max-width: 1240px) {
                width: clamp(0px, 100%, 450px);
                max-height: 450px;
            }
            @media screen and (max-width: 1024px) {
                width: clamp(0px, 100%, 400px);
                max-height: 400px;
            }
        }

        article.row-data {
            width: 45%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            gap: 4vh;
            margin: 0 auto;

            line-height: 1.5em;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        &.introduction {
            article.row-data {
                h3 {
                    display: flex;
                    align-items: center;

                    position: relative;
                    isolation: isolate;

                    &::after {
                        content: '';

                        width: 0;
                        height: 2px;

                        background-image: linear-gradient(
                            90deg,
                            transparent,
                            #000
                        );

                        animation: header-line 1s 2s ease-in-out forwards;

                        @keyframes header-line {
                            from {
                                width: 0;
                            }
                            to {
                                width: 100%;
                            }
                        }
                    }

                    span {
                        display: inline-block;

                        white-space: nowrap;

                        padding-left: 1.5em;
                    }
                }
            }
        }

        &.attributes {
            h3 {
                display: flex;
                align-items: center;
                gap: 0.7vmin;

                overflow: hidden;

                span {
                    margin: 1em 0;
                }
                svg {
                    &:nth-child(1) {
                        margin-right: 1vmin;
                    }
                    transform: translateY(200%);
                }
            }

            .attributes-data {
                display: flex;
                flex-direction: column;
                width: 100%;

                gap: 2vh;

                p {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    svg {
                        fill: #ffd700;
                        filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.5));

                        opacity: 0;
                        transform: translateY(200%);
                    }
                }
            }

            &.active {
                h3 {
                    svg {
                        animation: h3-star 1s
                            cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

                        @keyframes h3-star {
                            from {
                                transform: translateY(400%);
                            }
                            to {
                                transform: translateY(0);
                            }
                        }
                    }
                }
                .attributes-data {
                    p {
                        svg {
                            animation: star-fadein 1s
                                cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

                            @keyframes star-fadein {
                                from {
                                    opacity: 0;
                                    transform: translateY(200%);
                                }
                                to {
                                    opacity: 1;
                                    transform: translateY(0);
                                }
                            }
                        }
                    }
                }
            }
        }

        &.pay-options {
            box-shadow: 0 0 0 100vmax var(--sixty-percent);
            clip-path: inset(0 -100vmax);

            background-color: var(--sixty-percent);

            .percent-container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 100%;
                padding: 1.5rem 2rem;

                background-color: var(--accent-color);
                border-radius: 10px;
            }
        }
    }
}
