.contact-container {
    width: 100%;
    min-height: 100vh;

    padding: 5vh 5vw;

    display: grid;
    place-items: center;

    isolation: isolate;
    position: relative;

    @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    .contact-img {
        width: 100%;
        height: 100%;

        position: absolute;

        object-fit: cover;
        z-index: -1;
    }

    .contact-wrapper {
        width: clamp(300px, 100%, 1300px);

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        row-gap: 10vh;

        padding: 2em 2.5em;

        border-radius: 15px;

        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        box-shadow: 0px 3px 15px -7px black;

        @media screen and (max-width: 768px) {
            padding: 2em 1.5em;
        }

        aside {
            &.location {
                height: 100%;
                width: clamp(0px, 100%, 500px);

                iframe {
                    width: 100%;

                    border: 0;
                    border-radius: 7.5px;
                }
            }

            &.contact-data {
                width: clamp(0px, 100%, 500px);
                height: 100%;

                padding: 0 2rem;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: calc(4vh + 5px);

                @media screen and (max-width: 768px) {
                    padding: 0;
                }

                .contact-header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    width: 100%;

                    gap: 2vh;

                    .link {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .link-holder {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: calc(1vw + 5px);
                        }
                        .data {
                            direction: ltr;
                        }
                    }
                }
                .contact-body {
                    width: 100%;
                }
            }
        }
    }
}
