main.home {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    isolation: isolate;
    overflow: hidden;

    .home-baner {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 2;

        animation: herobaner-slideUp 2s 0.2s
            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

        @keyframes herobaner-slideUp {
            from {
                transform: translateY(0);
            }
            to {
                transform: translateY(-200%);
            }
        }
    }

    .hero-section {
        position: relative;
        isolation: isolate;

        width: 100%;
        height: 90vh;

        background-size: cover;
        background-repeat: no-repeat;
        background-size: 103% 103%;

        overflow: hidden;

        .hero-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(15%, -15%);

            width: 1000px;
            aspect-ratio: 1/1;
            border-radius: 100vmax;

            background-color: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(3px);

            z-index: 1;

            .hero-data {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 2vh;

                margin-right: 30%;

                width: 100%;
                height: 100%;

                color: black;

                .typer-wrapper {
                    margin-bottom: -1vh;
                }

                .company {
                    span {
                        color: #009ad9;
                    }
                }
                .detial {
                    width: 60%;
                    text-wrap: balance;
                }

                .cta-wrapper {
                    display: flex;
                    gap: calc(3vw + 10px);
                    margin-top: 3vh;

                    .hero-btn {
                        border: 0;
                        height: 100%;
                        padding: 1rem 3rem;
                        border-radius: 10px;

                        background-color: unset;

                        font: inherit;
                        font-family: iranBold;
                        white-space: nowrap;
                        cursor: pointer;

                        &.main {
                            background-color: var(--sixty-percent);
                            color: black;
                            box-shadow: 0px 20px 15px -20px #000;
                        }

                        &.sec {
                            box-shadow: none;
                            border: 1px solid #000;
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    section {
        overflow: hidden;
    }
}
