main.home {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    isolation: isolate;
    overflow: hidden;

    .home-baner {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 2;

        animation: herobaner-slideUp 2s 0.2s
            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

        @keyframes herobaner-slideUp {
            from {
                transform: translateY(0);
            }
            to {
                transform: translateY(-200%);
            }
        }
    }

    section.hero-section {
        position: relative;
        isolation: isolate;

        height: 90vh;

        background-size: cover;
        background-repeat: no-repeat;

        overflow: hidden;

        @media screen and (max-width: 768px) {
            background-size: cover;
            background-position: bottom center;
        }

        @media screen and (min-width: 1440px) {
            background-size: 103% 103%;
        }

        .hero-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(15%, -15%);

            width: 1000px;
            aspect-ratio: 1/1;
            border-radius: 100vmax;

            background-color: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(3px);

            z-index: 1;

            @media screen and (max-width: 768px) {
                transform: translate(20%, -20%);
                width: 700px;
            }

            @media screen and (max-width: 425px) {
                transform: translate(17%, -17%);
                width: 500px;
            }

            .hero-data {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 2vh;

                margin-right: 30%;

                width: 100%;
                height: 100%;

                color: black;

                @media screen and (max-width: 768px) {
                    margin-right: 20%;
                }

                .typer-wrapper {
                    display: flex;
                    gap: 0.5vmin;

                    margin-bottom: -1vh;

                    .typer-word-wrapper {
                        display: flex;
                        align-items: center;
                        gap: -0.2vmin;

                        .typer-word {
                            display: inline-block;
                            color: #009ad9;
                        }
                        .cursor {
                            width: 2px;
                            height: 100%;

                            background-color: black;

                            transform-origin: center center;

                            animation: cursor-effect 1s ease-in-out infinite;

                            @keyframes cursor-effect {
                                0% {
                                    transform: scaleY(1);
                                }
                                50% {
                                    transform: scaleY(0);
                                }
                                100% {
                                    transform: scaleY(1);
                                }
                            }
                        }
                    }
                }

                .company {
                    span {
                        color: #009ad9;
                    }
                }
                .detial {
                    width: 60%;
                    text-wrap: balance;
                }

                .cta-wrapper {
                    display: flex;
                    gap: calc(3vw + 10px);
                    margin-top: 3vh;

                    .hero-btn {
                        border: 0;
                        height: 100%;
                        padding: 1rem 3rem;
                        border-radius: 10px;

                        background-color: unset;

                        font: inherit;
                        font-family: iranBold;
                        white-space: nowrap;
                        cursor: pointer;

                        &.main {
                            background-color: var(--sixty-percent);
                            color: black;
                            box-shadow: 0px 20px 15px -20px #000;
                        }

                        &.sec {
                            box-shadow: none;
                            border: 1px solid #000;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    section.about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12vh;

        background-color: white;
        color: black;

        padding: 5vh 3vw;

        &.active {
            h3.about-header {
                * {
                    animation: aboutheader-slidein 0.7s
                        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

                    @keyframes aboutheader-slidein {
                        from {
                            transform: translateY(-300%);
                        }
                        to {
                            transform: translateY(0);
                        }
                    }
                }
                svg {
                    animation: aboutheadersvg-slidein 0.7s
                        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
                    animation-delay: 0.6s;

                    @keyframes aboutheadersvg-slidein {
                        from {
                            transform: translateY(-300%) scaleX(-1);
                        }
                        to {
                            transform: translateY(0) scaleX(-1);
                        }
                    }
                }
            }
        }

        h3.about-header {
            * {
                display: inline-block;

                transform: translateY(-200%);
            }
            span {
                &:nth-child(1) {
                    animation-delay: 0.2s;
                }
                &:nth-child(2) {
                    animation-delay: 0.4s;
                }
            }
            svg {
                transform: translateY(-250%) scaleX(-1);
            }
        }

        .about-wrapper {
            width: 100%;
            flex: 1 0 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8vh;

            .about-column {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap-reverse;

                column-gap: calc(15vw + 15px);
                row-gap: 4vh;

                width: clamp(0px, 100%, 1500px);

                img.about-img {
                    width: clamp(0px, 100%, 600px);
                    aspect-ratio: 2/1;
                    border-radius: 10px;
                    object-fit: cover;
                }
                .column-data {
                    display: flex;
                    flex-direction: column;
                    gap: 2vh;

                    width: clamp(0px, 100%, 500px);

                    .detial {
                        text-wrap: balance;
                    }
                }

                &:nth-child(even) {
                    flex-direction: row-reverse;

                    img.about-img {
                        transform: translate(1000px, 0);
                    }

                    &.active {
                        img.about-img {
                            animation: aboutimg-slidein-even 1s forwards
                                cubic-bezier(0.175, 0.885, 0.32, 1.275);
                            @keyframes aboutimg-slidein-even {
                                from {
                                    transform: translate(1000px, 0);
                                }
                                to {
                                    transform: translate(0);
                                }
                            }
                        }
                    }
                }
                &:nth-child(odd) {
                    img.about-img {
                        transform: translate(-1000px, 0);
                    }

                    &.active {
                        img.about-img {
                            animation: aboutimg-slidein-odd 1s forwards
                                cubic-bezier(0.175, 0.885, 0.32, 1.275);

                            @keyframes aboutimg-slidein-odd {
                                from {
                                    transform: translate(-1000px, 0);
                                }
                                to {
                                    transform: translate(0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    section.why-cyprus {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12vh;

        padding: 5vh 3vw;

        h3.cyprus-header {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: calc(2vw + 5px);

            transform: translateY(300px);
            opacity: 0;

            transition:
                transform 1.2s ease-in-out,
                opacity 1.2s ease-in-out;

            &::before,
            &::after {
                content: '';

                height: 2px;
                width: 0;

                transition: width 1.5s 1s ease-in-out;
            }

            &::after {
                background-image: linear-gradient(90deg, transparent, #000);
            }
            &::before {
                background-image: linear-gradient(90deg, #000, transparent);
            }

            span {
                white-space: nowrap;
            }
        }

        &.active {
            h3.cyprus-header {
                transform: translateY(0);
                opacity: 1;

                &::before,
                &::after {
                    width: 100%;
                }
            }
        }

        .cyprus-wrapper {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            column-gap: calc(4vw + 10px);

            .cyprus-card {
                display: flex;
                flex-direction: column;

                width: clamp(0px, 100%, 350px);
                aspect-ratio: 1/1.5;

                background-color: white;
                border-radius: 10px;

                overflow: hidden;

                .card-img {
                    position: relative;
                    isolation: isolate;

                    height: 50%;
                    width: 100%;

                    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
                    background-color: white;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .card-detail {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    gap: 2vh;
                    padding: 1rem 2rem;
                }
            }
        }
    }

    section {
        width: 100%;
        overflow: hidden;

        color: black;
    }
}
