main.home {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    isolation: isolate;
    overflow: hidden;

    .home-baner {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 2;

        animation: herobaner-slideUp 2s 0.2s
            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

        @keyframes herobaner-slideUp {
            from {
                transform: translateY(0);
            }
            to {
                transform: translateY(-200%);
            }
        }
    }

    section.hero-section {
        position: relative;
        isolation: isolate;

        height: 90vh;

        background-size: cover;
        background-repeat: no-repeat;

        overflow: hidden;

        @media screen and (max-width: 768px) {
            background-size: cover;
            background-position: bottom center;
        }

        @media screen and (min-width: 1440px) {
            background-size: 103% 103%;
        }

        .hero-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(15%, -15%);

            width: 1000px;
            aspect-ratio: 1/1;
            border-radius: 100vmax;

            background-color: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(3px);

            z-index: 1;

            @media screen and (max-width: 768px) {
                transform: translate(20%, -20%);
                width: 700px;
            }

            @media screen and (max-width: 425px) {
                transform: translate(17%, -17%);
                width: 500px;
            }

            .hero-data {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 2vh;

                margin-right: 30%;

                width: 100%;
                height: 100%;

                color: black;

                @media screen and (max-width: 768px) {
                    margin-right: 20%;
                }

                .typer-wrapper {
                    display: flex;
                    gap: 0.5vmin;

                    margin-bottom: -1vh;

                    .typer-word-wrapper {
                        display: flex;
                        align-items: center;
                        gap: -0.2vmin;

                        .typer-word {
                            display: inline-block;
                            color: #009ad9;
                        }
                        .cursor {
                            width: 2px;
                            height: 100%;

                            background-color: black;

                            transform-origin: center center;

                            animation: cursor-effect 1s ease-in-out infinite;

                            @keyframes cursor-effect {
                                0% {
                                    transform: scaleY(1);
                                }
                                50% {
                                    transform: scaleY(0);
                                }
                                100% {
                                    transform: scaleY(1);
                                }
                            }
                        }
                    }
                }

                .company {
                    span {
                        color: #009ad9;
                    }
                }
                .detial {
                    width: 60%;
                    text-wrap: balance;
                }

                .cta-wrapper {
                    display: flex;
                    gap: calc(3vw + 10px);
                    margin-top: 3vh;

                    .hero-btn {
                        border: 0;
                        height: 100%;
                        padding: 1rem 3rem;
                        border-radius: 10px;

                        background-color: unset;

                        font: inherit;
                        font-family: iranBold;
                        white-space: nowrap;
                        cursor: pointer;

                        &.main {
                            background-color: var(--sixty-percent);
                            color: black;
                            box-shadow: 0px 20px 15px -20px #000;
                        }

                        &.sec {
                            box-shadow: none;
                            border: 1px solid #000;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    section.about-us {
        // debug
        height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vh;

        background-color: white;
        color: black;

        padding: 5vh 3vw;

        h3.about-header {
            svg {
                transform: scaleX(-1);
            }
        }
    }

    section {
        width: 100%;
        overflow: hidden;
    }
}
