main.projects {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;

    padding: 5vh 3vw;

    header.project-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: clamp(0px, 100%, 750px);

        label {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;

            background-color: white;

            border-radius: 100vmax;

            padding: 5px;

            position: relative;
            isolation: isolate;

            .label-svg {
                padding: 1rem;

                background-color: var(--sixty-percent);
                color: black;

                height: 70px;
                aspect-ratio: 1/1;
                border-radius: 100vmax;

                &:hover {
                    svg {
                        animation: shake 0.5s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98);

                        @keyframes shake {
                            0% {
                                transform: rotate(0deg);
                            }
                            25% {
                                transform: rotate(-7deg);
                            }
                            50% {
                                transform: rotate(7deg);
                            }
                            75% {
                                transform: rotate(-7deg);
                            }
                            100% {
                                transform: rotate(0);
                            }
                        }
                    }
                }

                @media screen and (max-width: 768px) {
                    padding: 0.75rem;
                    height: 55px;
                }

                svg {
                    width: 100%;

                    height: 100%;
                }
            }

            input {
                height: 100%;
                width: 100%;

                padding: 1rem 2rem;

                background-color: transparent;
                border: none;

                color: black;
            }
            .typer-wrapper {
                position: absolute;
                top: 50%;
                right: 1.5rem;

                transform: translateY(-50%);

                display: flex;
                align-items: center;
                gap: 0.2vmin;

                .cursor {
                    width: 2px;
                    height: 1.5em;

                    display: inline-block;

                    background-color: black;

                    transform: scaleY(0);

                    transform-origin: center center;

                    animation: cursor-effect 5s ease-in-out backwards;

                    @keyframes cursor-effect {
                        0% {
                            transform: scaleY(0);
                        }
                        10% {
                            transform: scaleY(1);
                        }
                        20% {
                            transform: scaleY(0);
                        }
                        30% {
                            transform: scaleY(1);
                        }
                        40% {
                            transform: scaleY(0);
                        }
                        50% {
                            transform: scaleY(1);
                        }

                        60% {
                            transform: scaleY(0);
                        }
                        70% {
                            transform: scaleY(1);
                        }
                        80% {
                            transform: scaleY(0);
                        }
                        90% {
                            transform: scaleY(1);
                        }
                        100% {
                            transform: scaleY(0);
                        }
                    }
                }
            }
        }
    }

    .projects-wrapper {
        display: grid;
        grid-column-gap: calc(5vw + 10px);
        grid-row-gap: 4vh;
        direction: rtl;
        grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
        justify-items: center;

        padding: 0.5rem;
        width: 100%;

        overflow-y: auto;

        .project {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;

            width: clamp(0px, 100%, 350px);
            aspect-ratio: 1/1.5;

            background-color: white;
            border-radius: 10px;
            padding: 0.5rem;

            position: relative;
            isolation: isolate;
            overflow: hidden;

            .project-img {
                width: 100%;
                height: 35%;
                border-radius: 5px;
            }
            .datas {
                width: 100%;
                padding: 1rem;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2vh;

                .data-wrapper {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .holder {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }
                    .data {
                        font-family: 'iranBold';
                    }
                }
            }
            .see-more {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;

                padding: 0.75rem;

                background-color: var(--sixty-percent);
                border-radius: 5px;
            }
        }
    }
}
