section.about-page-honors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10vh;

    width: 100%;

    padding: 7vh 3vw;
    background: var(--sixty-percent);

    margin-top: -15vh;

    overflow: hidden;

    @media screen and (max-width: 768px) {
        padding: 7vh 0;
        margin-top: -35vh;
    }

    h2.honors-title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(2vw + 3px);

        overflow: hidden;
        position: relative;
        isolation: isolate;

        &::after,
        &::before {
            content: '';
            height: 2px;
            width: 0;

            position: relative;
        }

        &::after {
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), black);
        }
        &::before {
            background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0), black);
        }

        span {
            transform: translateY(200%);
            display: inline-block;
            white-space: nowrap;

            @keyframes project-title-slide-in {
                from {
                    transform: translateY(200%);
                }
                to {
                    transform: translateY(0%);
                }
            }
        }

        &.active {
            &::after,
            &::before {
                animation: project-title-line-open 1s
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) 1s forwards;

                @keyframes project-title-line-open {
                    from {
                        width: 0;
                    }
                    to {
                        width: 150px;
                    }
                }
            }

            span {
                animation: project-title-slide-in 1s
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
            }
        }
    }

    .honors-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: calc(3vw + 5px);

        width: 100%;

        will-change: transform;
        transition: 0.2s linear transform;

        @media screen and (max-width: 768px) {
            overflow-x: scroll;
            padding: 1rem 1.5rem;

            // remove scroll bar
            &::-webkit-scrollbar {
                display: none; /* Safari and Chrome */
            }
            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none; /* Firefox */
            //
        }

        .honor-card {
            flex-shrink: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            height: 450px;
            aspect-ratio: 0.7/1;
            border-radius: 10px;

            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(5px);
            box-shadow: 0px 5px 10px -5px black;

            overflow: hidden;
            position: relative;
            isolation: isolate;

            will-change: transform;
            transition: 0.5s ease-in-out transform;

            @media screen and (max-width: 768px) {
                height: 350px;
                aspect-ratio: 0.6/1;
            }

            &::after,
            &::before {
                content: '';
                position: absolute;
                width: 50%;
                height: 50%;
                opacity: 0.32;
                z-index: 1;
            }

            &::before {
                background-image: linear-gradient(
                    226deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0) 50%,
                    white 100%
                );

                top: 100%;
                right: 100%;
                translate: 100% -100%;
            }
            &::after {
                background-image: linear-gradient(
                    45deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0) 50%,
                    white 100%
                );

                bottom: 100%;
                left: 100%;
                translate: -100% 100%;
            }

            img {
                object-fit: contain;
                width: 100%;
                max-height: 100%;
            }
        }
    }
}
