{% extends 'base.html' %}

{% block header %}

<link href="/static/style/education/education.css" rel="stylesheet" />


<script src="/static/js/mark/education.js" defer></script>

{% endblock header %}

{% block content %}
<main class="education">
    <header class="education-header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
       url(/static/image/education/header.webp)">
        <h2 class="header-title section_title">
            اقامت دانشجویی
        </h2>
    </header>

</main>
{% endblock content %}