{% extends 'base.html' %}

{% block header %} 

<link href="/static/style/blogs/blogs.css" rel="stylesheet" />

{% endblock header %}

{% block content %}
<main class="blogs-container">
    <header class="products-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(&quot;/static/image/header.webp&quot;);">
       <h2 class="header-title title_hero">مقالات</h2>
    </header>
    <section class="blogs-wrapper">
       <figure class="blog-card">
          <img decoding="async" loading="lazy" class="card-img" src="https://picsum.photos/1920/1080" alt="مقاله صنایع تولیدی حیدری">
          <figcaption class="card-caption title_smaller">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</figcaption>
          <a class="link-container title_smaller  " href="/blog/">دیدن بیشتر</a>
       </figure>
       <figure class="blog-card">
          <img decoding="async" loading="lazy" class="card-img" src="https://picsum.photos/1920/1080" alt="مقاله صنایع تولیدی حیدری">
          <figcaption class="card-caption title_smaller">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</figcaption>
          <a class="link-container title_smaller  " href="/blog/">دیدن بیشتر</a>
       </figure>
       <figure class="blog-card">
          <img decoding="async" loading="lazy" class="card-img" src="https://picsum.photos/1920/1080" alt="مقاله صنایع تولیدی حیدری">
          <figcaption class="card-caption title_smaller">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</figcaption>
          <a class="link-container title_smaller  " href="/blog/">دیدن بیشتر</a>
       </figure>
       <figure class="blog-card">
          <img decoding="async" loading="lazy" class="card-img" src="https://picsum.photos/1920/1080" alt="مقاله صنایع تولیدی حیدری">
          <figcaption class="card-caption title_smaller">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</figcaption>
          <a class="link-container title_smaller  " href="/blog/">دیدن بیشتر</a>
       </figure>
       <figure class="blog-card">
          <img decoding="async" loading="lazy" class="card-img" src="https://picsum.photos/1920/1080" alt="مقاله صنایع تولیدی حیدری">
          <figcaption class="card-caption title_smaller">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</figcaption>
          <a class="link-container title_smaller  " href="/blog/">دیدن بیشتر</a>
       </figure>
    </section>
 </main>
{% endblock content %}