main.education {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    isolation: isolate;
    overflow: hidden;

    header.education-header {
        display: grid;
        place-items: center;

        width: 100%;
        aspect-ratio: 1/0.25;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        color: white;
    }
    section.stay {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: calc(2vw + 10px);
        row-gap: calc(2vh + 10px);

        width: clamp(0px, 100%, 1500px);

        border-radius: 15px;

        padding: 5vw 3vw;

        aside.data {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2vh;
            margin: 0 auto;
        }
        aside.svg-wrapper {
            width: clamp(0px, 100%, 600px);
            aspect-ratio: 2/1;
            object-fit: cover;
            border-radius: 10px;
            margin: 0 auto;
        }
    }
    section.emu {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8vh;

        padding: 5vh 3vw;

        // debug
        height: 100vh;

        h3 {
            display: flex;
            align-items: center;
            gap: 0.3vmin;
            .emu-text {
                margin: 0 0.3vmin;

                display: flex;
                align-items: center;
                gap: 0.3vmin;

                direction: ltr;

                span {
                    display: inline-block;

                    opacity: 0;

                    transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    &:nth-child(odd) {
                        transform: translateY(150%);
                    }
                    &:nth-child(even) {
                        transform: translateY(-150%);
                    }
                }
            }
        }
        &.active {
            .emu-text {
                span {
                    opacity: 1;

                    &:nth-child(odd) {
                        transform: translateY(0);
                    }
                    &:nth-child(even) {
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}
