main.education {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    isolation: isolate;
    overflow: hidden;

    header.education-header {
        display: grid;
        place-items: center;

        width: 100%;
        aspect-ratio: 1/0.25;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        color: white;

        @media screen and (max-width: 768px) {
            aspect-ratio: 1/0.5;
        }
    }
    section.stay {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: calc(2vw + 10px);
        row-gap: calc(2vh + 10px);

        width: clamp(0px, 100%, 1500px);

        border-radius: 15px;

        padding: 5vh 3vw;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 1rem;
        }

        aside.data {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2vh;
            margin: 0 auto;

            @media screen and (max-width: 768px) {
                align-items: center;

                width: 100%;
            }

            .univs {
                display: flex;
                flex-direction: column;
                gap: 1vh;
                align-items: center;

                margin-top: 2vh;

                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                a {
                    width: 100%;
                    padding: 0.75rem 1.5rem;
                    border-radius: 10px;
                    background-color: var(--sixty-percent);
                    text-align: center;
                }
            }
        }
        aside.svg-wrapper {
            width: clamp(0px, 100%, 600px);
            aspect-ratio: 2/1;
            object-fit: cover;
            border-radius: 10px;
            margin: 0 auto;
        }
    }
    section.emu {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vh;

        padding: 5vh 0;

        &.active {
            .univ-text {
                span {
                    opacity: 1;

                    &:nth-child(odd) {
                        transform: translateY(0);
                    }
                    &:nth-child(even) {
                        transform: translateY(0);
                    }
                }
            }
        }

        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3vmin;

            width: 100%;
            height: 30vh;

            color: white;

            background-image: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.1)
                ),
                url('/static/image/education/emu2.webp');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center -75%;
            transform-style: preserve-3d;
            perspective: 1000px;

            .univ-text {
                margin: 0 0.3vmin;

                display: flex;
                align-items: center;
                gap: 0.3vmin;

                direction: ltr;

                span {
                    display: inline-block;

                    opacity: 0;

                    transition: 0.7s 0.25s
                        cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    &:nth-child(odd) {
                        transform: translateY(150%);
                    }
                    &:nth-child(even) {
                        transform: translateY(-150%);
                    }
                }
            }
        }
        article.emu-wrapper {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8vh;

            padding: 0 3vw;

            .introduction {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: calc(2vw + 10px);
                row-gap: calc(2vh + 10px);
                width: clamp(0px, 100%, 1500px);
                border-radius: 15px;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    padding: 1rem 1.5rem;
                }

                .emu-img {
                    width: clamp(0px, 100%, 600px);
                    aspect-ratio: 2/1;
                    object-fit: cover;
                    border-radius: 10px;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        object-fit: cover;

                        border-radius: 5px;
                    }
                }
                p {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2vh;
                    margin: 0 auto;

                    line-height: 1.6em;

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
            }

            .honors {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8vh;

                &.active {
                    h4.section_title {
                        &::before,
                        &::after {
                            width: clamp(0px, 100%, 500px);
                        }
                        span {
                            transform: translateY(0);
                        }
                    }
                }

                h4.section_title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1.5rem;

                    width: 100%;
                    overflow: hidden;

                    &::before,
                    &::after {
                        content: '';
                        width: 0;
                        height: 2px;

                        transition: 1s 1s cubic-bezier(0.45, 0.02, 0.09, 0.98);
                    }

                    &::before {
                        background-image: linear-gradient(
                            90deg,
                            #000,
                            transparent
                        );
                    }
                    &::after {
                        background-image: linear-gradient(
                            -90deg,
                            #000,
                            transparent
                        );
                    }

                    span {
                        white-space: nowrap;

                        display: inline-block;
                        transform: translateY(200%);

                        transition: 1s cubic-bezier(0.45, 0.02, 0.09, 0.98);
                    }
                }

                .honors-wrapper {
                    width: 100%;

                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-evenly;
                    column-gap: calc(2vw + 5px);
                    row-gap: 4vh;
                    justify-items: center;

                    .honor-card {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: clamp(0px, 100%, 400px);
                        aspect-ratio: 1/1.4;
                        background-color: var(--sixty-percent);
                        border-radius: 10px;
                        box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);

                        .svg-wrapper {
                            height: 70%;
                            width: 100%;
                        }
                        .data {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            gap: 4vh;
                            width: 100%;
                            padding: 1.5rem;

                            text-align: center;
                        }
                    }
                }
            }

            .extra {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                column-gap: calc(2vw + 5px);
                row-gap: calc(2vh + 15px);

                &.active {
                    .data {
                        h4 {
                            span {
                                transform: translateY(0);
                                opacity: 1;
                            }
                        }
                    }
                }

                .data {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2vh;
                    margin: 0 auto;

                    h4 {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 0.5vmin;

                        span {
                            display: inline-block;
                            transform: translateY(-100%);
                            opacity: 0;

                            transition: 0.5s ease;
                        }
                    }

                    p {
                        line-height: 1.6em;
                    }

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
                .svg-wrapper {
                    width: clamp(0px, 100%, 600px);
                    aspect-ratio: 2/1;
                    object-fit: cover;
                    border-radius: 10px;
                    margin: 0 auto;
                }
            }
        }
    }
    section.ciu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vh;
        padding: 5vh 0;

        &.active {
            .univ-text {
                span {
                    opacity: 1;

                    &:nth-child(odd) {
                        transform: translateY(0);
                    }
                    &:nth-child(even) {
                        transform: translateY(0);
                    }
                }
            }
        }
        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3vmin;

            width: 100%;
            height: 30vh;

            color: white;

            background-image: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.1)
                ),
                url('/static/image/education/ciu.webp');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center 50%;
            transform-style: preserve-3d;
            perspective: 1000px;

            .univ-text {
                margin: 0 0.3vmin;

                display: flex;
                align-items: center;
                gap: 0.3vmin;

                direction: ltr;

                span {
                    display: inline-block;

                    opacity: 0;

                    transition: 0.7s 0.25s
                        cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    &:nth-child(odd) {
                        transform: translateY(150%);
                    }
                    &:nth-child(even) {
                        transform: translateY(-150%);
                    }
                }
            }
        }

        article.ciu-wrapper {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8vh;

            padding: 0 3vw;

            .introduction {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: calc(2vw + 10px);
                row-gap: calc(2vh + 10px);
                width: clamp(0px, 100%, 1500px);
                border-radius: 15px;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    padding: 1rem 1.5rem;
                }

                p {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2vh;
                    margin: 0 auto;
                    line-height: 1.6em;

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }

                .ciu-img {
                    width: clamp(0px, 100%, 600px);
                    aspect-ratio: 2/1;
                    object-fit: cover;
                    border-radius: 10px;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    section.near-east {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vh;
        padding: 5vh 0;

        &.active {
            .univ-text {
                span {
                    opacity: 1;

                    &:nth-child(odd) {
                        transform: translateY(0);
                    }
                    &:nth-child(even) {
                        transform: translateY(0);
                    }
                }
            }
        }
        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3vmin;

            width: 100%;
            height: 35vh;

            color: white;

            background-image: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.1)
                ),
                url('/static/image/education/east.webp');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center 100%;
            transform-style: preserve-3d;
            perspective: 1000px;

            .univ-text {
                margin: 0 0.3vmin;

                display: flex;
                align-items: center;
                gap: 1vmin;

                direction: ltr;

                span {
                    display: inline-block;

                    opacity: 0;

                    transition: 0.7s 0.25s
                        cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    &:nth-child(odd) {
                        transform: translateY(150%);
                    }
                    &:nth-child(even) {
                        transform: translateY(-150%);
                    }
                }
            }
        }

        article.east-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8vh;
            padding: 0 3vw;

            .introduction {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: calc(2vw + 10px);
                row-gap: calc(2vh + 10px);
                width: clamp(0px, 100%, 1500px);
                border-radius: 15px;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    padding: 1rem 1.5rem;
                }

                p.data {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2vh;
                    margin: 0 auto;
                    line-height: 1.6em;

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }

                .east-img {
                    width: clamp(0px, 100%, 600px);
                    aspect-ratio: 2/1;
                    object-fit: cover;
                    border-radius: 10px;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                }
            }

            .extra {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4vh;

                width: 100%;

                // debug
                height: 100vh;
                h4 {
                    display: flex;
                    align-items: center;
                    gap: 0.2vmin;

                    text-align: center;

                    text-wrap: balance;

                    .cursor {
                        width: 2px;
                        height: 100%;

                        background-color: black;

                        transform: scaleY(0);

                        transform-origin: center center;

                        animation: cursor-effect 5s ease-in-out backwards;

                        @keyframes cursor-effect {
                            0% {
                                transform: scaleY(0);
                            }
                            10% {
                                transform: scaleY(1);
                            }
                            20% {
                                transform: scaleY(0);
                            }
                            30% {
                                transform: scaleY(1);
                            }
                            40% {
                                transform: scaleY(0);
                            }
                            50% {
                                transform: scaleY(1);
                            }

                            60% {
                                transform: scaleY(0);
                            }
                            70% {
                                transform: scaleY(1);
                            }
                            80% {
                                transform: scaleY(0);
                            }
                            90% {
                                transform: scaleY(1);
                            }
                            100% {
                                transform: scaleY(0);
                            }
                        }
                    }
                }

                .honors {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    column-gap: calc(2vw + 5px);
                    row-gap: calc(2vh + 15px);

                    &.active {
                        .data {
                            .honor {
                                transform: translateX(0);
                                opacity: 1;
                            }
                        }
                    }

                    .svg-wrapper {
                        width: clamp(0px, 100%, 600px);
                        aspect-ratio: 2/1;
                        object-fit: cover;
                        border-radius: 10px;
                        margin: 0 auto;
                    }

                    .data {
                        display: flex;
                        flex-direction: column;
                        gap: 2vh;

                        width: 45%;
                        margin: 0 auto;

                        border-right: 1px solid;
                        padding-right: 10px;

                        @media screen and (max-width: 768px) {
                            width: 100%;
                        }

                        .honor {
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            transform: translateX(7rem);
                            opacity: 0;

                            transition: 0.5s
                                cubic-bezier(0.45, 0.02, 0.09, 0.98);

                            svg {
                                flex-shrink: 0;

                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    section.services {
        width: 100%;

        // debug
        height: 100vh;

        display: flex;
        flex-direction: column;
        gap: 8vh;
        align-items: center;

        padding: 3vh 3vw;

        background-color: var(--sixty-percent);

        overflow: hidden;

        &.active {
            h3 {
                transform: translateY(0);
            }
        }

        h3 {
            position: relative;
            isolation: isolate;

            display: flex;
            align-items: center;
            justify-content: center;

            transform: translateY(-200%);

            transition: 1s cubic-bezier(0.29, 1.74, 0.32, 1.27);

            &::before,
            &::after {
                content: '';

                position: absolute;

                background-color: black;

                width: 1px;
                height: 150px;
            }

            &::before {
                bottom: 50%;
                right: calc(0px + 0.2vmin);
            }
            &::after {
                bottom: 50%;
                left: calc(0px + 0.5vmin);
            }
        }
        .services-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            column-gap: calc(2vw + 5px);
            row-gap: 4vh;
            justify-items: center;

            .service-card {
                display: flex;
                flex-direction: column;
                align-items: center;

                width: clamp(0px, 100%, 400px);

                aspect-ratio: 1/1.4;

                border-radius: 10px;
                box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
                background-color: white;

                @media screen and (min-width: 1024px) {
                    &:nth-child(odd) {
                        margin-top: 5%;
                    }
                }
                .svg-wrapper {
                    height: 80%;
                    width: 100%;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
