main.education {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    isolation: isolate;
    overflow: hidden;

    header.education-header {
        display: grid;
        place-items: center;

        width: 100%;
        aspect-ratio: 1/0.25;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        color: white;
    }
    section.stay {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: calc(2vw + 10px);
        row-gap: calc(2vh + 10px);

        width: clamp(0px, 100%, 1500px);

        border-radius: 15px;

        padding: 2rem;

        aside.data {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2vh;
            margin: 0 auto;
        }
        aside.svg-wrapper {
            width: clamp(0px, 100%, 600px);
            aspect-ratio: 2/1;
            object-fit: cover;
            border-radius: 10px;
            margin: 0 auto;
        }
    }
}
