main.cyprus {
    height: 100%;
    width: 100%;

    position: relative;
    isolation: isolate;
    overflow: hidden;

    header.cyprus-header {
        display: grid;
        place-items: center;

        width: 100%;
        aspect-ratio: 1/0.25;

        background-size: cover;
        background-repeat: no-repeat;

        color: white;

        @media screen and (max-width: 768px) {
            aspect-ratio: 1/0.5;
        }
    }

    section.articles {
        width: 100%;
        padding: 5vh 3vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        background: var(--sixty-percent);

        article {
            width: clamp(0px, 100%, 1500px);

            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            row-gap: 4vh;

            padding: 5vh 3vw;
            border-radius: 20px;

            .section-main {
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                column-gap: calc(2vw + 5px);
                row-gap: calc(2vh + 15px);

                .data {
                    width: 45%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2vh;

                    margin: 0 auto;

                    @media screen and (max-width: 1024px) {
                        width: 100%;
                    }

                    h3.section_title {
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;

                        position: relative;
                        isolation: isolate;
                        overflow: hidden;

                        &::after {
                            content: '';
                            width: 0;
                            height: 2px;

                            background-image: linear-gradient(
                                -90deg,
                                #000,
                                transparent
                            );

                            transition: ease 1s 1s;
                        }
                        span {
                            white-space: nowrap;

                            display: inline-block;

                            transform: translateY(200%);
                            transition: ease 1s;
                        }
                    }
                    p {
                        font-family: 'yekan';
                    }
                }
                img {
                    width: clamp(0px, 100%, 600px);
                    aspect-ratio: 2/1;
                    object-fit: cover;
                    border-radius: 10px;

                    margin: 0 auto;
                }
            }
            .section-extra {
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                column-gap: calc(2vw + 5px);
                row-gap: calc(2vh + 5px);

                img {
                    width: clamp(0px, 100%, 600px);
                    aspect-ratio: 2/1;
                    object-fit: cover;
                    border-radius: 10px;

                    margin: 0 auto;
                }
            }

            &.active {
                .section-main {
                    .data {
                        h3.section_title {
                            &::after {
                                width: 100%;
                            }
                            span {
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }
        }
    }
    section.invest {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;

        width: 100%;

        padding: 5vh 3vw;

        h3,
        h4 {
            display: flex;
            align-items: center;
            gap: 0.2vmin;

            text-align: center;

            text-wrap: balance;

            .cursor {
                width: 2px;
                height: 100%;

                background-color: black;

                transform: scaleY(0);

                transform-origin: center center;

                animation: cursor-effect 10s ease-in-out backwards;

                @keyframes cursor-effect {
                    0% {
                        transform: scaleY(0);
                    }
                    10% {
                        transform: scaleY(1);
                    }
                    20% {
                        transform: scaleY(0);
                    }
                    30% {
                        transform: scaleY(1);
                    }
                    40% {
                        transform: scaleY(0);
                    }
                    50% {
                        transform: scaleY(1);
                    }

                    60% {
                        transform: scaleY(0);
                    }
                    70% {
                        transform: scaleY(1);
                    }
                    80% {
                        transform: scaleY(0);
                    }
                    90% {
                        transform: scaleY(1);
                    }
                    100% {
                        transform: scaleY(0);
                    }
                }
            }
        }

        .invest-wrapper {
            width: 100%;

            display: flex;
            align-items: center;
            flex-direction: column;
            row-gap: calc(4vh + 10px);

            .upper-cards {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;

                column-gap: calc(4vw + 10px);
                row-gap: calc(4vh + 10px);

                margin-top: 4vh;

                width: 100%;

                @media screen and (min-width: 1025px) {
                    margin-top: 12vh;
                }

                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4vh;

                    width: clamp(0px, 100%, 400px);
                    aspect-ratio: 1/1.6;
                    background-color: var(--sixty-percent);
                    border-radius: 10px;
                    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);

                    @media screen and (min-width: 1025px) {
                        &:nth-child(2) {
                            transform: translateY(-10%);
                        }
                    }

                    .svg-wrapper {
                        height: 60%;
                        width: 100%;
                    }

                    .data {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 4vh;

                        width: 100%;

                        padding: 1.5rem;

                        h5 {
                            text-align: center;
                        }
                        p {
                            text-align: center;
                        }
                    }
                }
            }
            .lower-cards {
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-wrap: wrap;

                column-gap: calc(4vw + 10px);
                row-gap: calc(4vh + 10px);

                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4vh;

                    width: clamp(0px, 100%, 400px);
                    aspect-ratio: 1/1.6;
                    background-color: var(--sixty-percent);
                    border-radius: 10px;
                    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);

                    .svg-wrapper {
                        height: 60%;
                        width: 100%;
                    }

                    .data {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 4vh;

                        width: 100%;

                        padding: 1.5rem;

                        h5 {
                            text-align: center;
                        }

                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    section.security {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 5vh 3vw;

        background-color: white;

        position: relative;
        isolation: isolate;
        overflow: hidden;

        @media screen and (max-width: 1024px) {
            gap: 8vh;
        }

        &.active {
            img {
                &:nth-child(1) {
                    transform: translateY(0);
                }
                &:nth-child(2) {
                    transform: translateY(0);
                }
            }
        }

        img {
            width: 100px;
            aspect-ratio: 1/1;

            transition: 1s cubic-bezier(0.45, 0.02, 0.09, 0.98);

            &:nth-child(1) {
                position: absolute;

                right: 30%;
                top: 0;

                rotate: 180deg;

                transform: translateY(200%);

                @media screen and (max-width: 768px) {
                    right: 15%;
                }
            }
            &:nth-child(2) {
                position: fixed;
                bottom: 0;
                left: 30%;
                top: unset;

                transform: translateY(200%);
            }
        }

        article.security-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: calc(2vw + 10px);
            row-gap: calc(2vh + 10px);

            width: clamp(0px, 100%, 1500px);

            border-radius: 15px;

            padding: 2rem;

            .svg-wrapper {
                width: clamp(0px, 100%, 600px);
                aspect-ratio: 2/1;
                object-fit: cover;
                border-radius: 10px;
                margin: 0 auto;
            }
            p {
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2vh;
                margin: 0 auto;
            }
            @media screen and (max-width: 768px) {
                flex-direction: column;
                padding: 1rem;

                p {
                    width: 100%;
                }
            }
        }
    }
    section.location {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 5vh 3vw;

        background-color: white;

        position: relative;
        isolation: isolate;
        overflow: hidden;

        article.location-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: calc(2vw + 10px);
            row-gap: calc(2vh + 10px);

            width: clamp(0px, 100%, 1500px);

            border-radius: 15px;

            padding: 2rem;

            .svg-wrapper {
                width: clamp(0px, 100%, 600px);
                aspect-ratio: 2/1;
                object-fit: cover;
                border-radius: 10px;
                margin: 0 auto;
            }
            p {
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2vh;
                margin: 0 auto;
            }
            @media screen and (max-width: 768px) {
                flex-direction: column;
                padding: 1rem;

                p {
                    width: 100%;
                }
            }
        }
    }
    section.improvments {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 5vh 3vw;

        background-color: white;

        position: relative;
        isolation: isolate;
        overflow: hidden;

        h3 {
            text-align: center;
        }

        .improvments-upper {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: calc(2vw + 10px);
            row-gap: calc(2vh + 10px);

            width: clamp(0px, 100%, 1500px);

            border-radius: 15px;

            padding: 2rem;

            .svg-wrapper {
                width: clamp(0px, 100%, 600px);
                aspect-ratio: 1/1;

                border-radius: 10px;
                margin: 0 auto;

                position: relative;
                isolation: isolate;

                svg {
                    transition: 0.3s linear;
                }
            }
            p {
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2vh;
                margin: 0 auto;
            }
            @media screen and (max-width: 768px) {
                flex-direction: column;
                padding: 1rem;

                p {
                    width: 100%;
                }
            }
        }
        .improvments-lower {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: calc(2vw + 10px);
            row-gap: calc(2vh + 10px);

            width: clamp(0px, 100%, 1500px);

            border-radius: 15px;

            padding: 2rem;

            img {
                width: clamp(0px, 100%, 600px);
                aspect-ratio: 2/1;
                object-fit: cover;
                border-radius: 10px;
                margin: 0 auto;
            }
        }
    }
}
