{% extends 'base.html' %}

{% block header %}

<link href="/static/style/project/project.css" rel="stylesheet" />

<script src="/static/js/mark/project.js" defer></script>

{% endblock header %}

{% block content %}
<main class="project">
    <header class="section_title">
        <span>
            Caesar Cliff

            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </span>
    </header>
    <section class="row introduction">
        <article class="row-data title_small">
            <h3 class="section_title">
                <span>

                    توضیحات
                </span>
            </h3>

            <p>

                Caesar Cliff یک مجتمع مسکونی مدرن است که توسط گروه آفیک طراحی شده است و ویلاها و آپارتمان های نیمه مستقل
                را ارائه می دهد.
                این پروژه واقع شده در موقعیتی با تنها 100 متر فاصله از ساحل و احاطه شده با مناظر خیره کننده دریای
                مدیترانه و
                کوه ها که مکان مناسبی برای زندگی آرام یا صرفا برای لذت بردن از تعطیلات.

                26 کیلومتر رانندگی تا گیرنه، مرکز شهر
                <br />
                7 کیلومتر رانندگی تا منطقه گلف، بزرگترین در قبرس
                <br />
                46 کیلومتر رانندگی تا فرودگاه ارجان
                <br />
                32 کیلومتر رانندگی تا کوه های بشپرمک
                <br />
                55 کیلومتر رانندگی تا فاماگوستا، شهر باستانی
                <br />
                5 کیلومتر رانندگی تا ساحل خلیج لاک پشت
                <br />
                56 کیلومتر رانندگی تا لفکوشا، پایتخت
                <br />
                2.5 کیلومتری روستای Esentepe
            </p>

        </article>
        <img class="row-img" src="https://picsum.photos/1920/1080" alt="">
    </section>

    <section class="row attributes">
        <article class="row-data title_small">
            <h3 class="section_title">
                <span>

                    ویژگی ها
                </span>

                <svg class="attr-svg" stroke="currentColor" fill="currentColor" stroke-width="0" version="1"
                    viewBox="0 0 48 48" enable-background="new 0 0 48 48" height='40' width='40'
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"></polygon>
                </svg>
                <svg class="attr-svg" stroke="currentColor" fill="currentColor" stroke-width="0" version="1"
                    viewBox="0 0 48 48" enable-background="new 0 0 48 48" height='40' width='40'
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"></polygon>
                </svg>
                <svg class="attr-svg" stroke="currentColor" fill="currentColor" stroke-width="0" version="1"
                    viewBox="0 0 48 48" enable-background="new 0 0 48 48" height='40' width='40'
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"></polygon>
                </svg>
            </h3>

            <div class="title_small attributes-data">
                <p>
                    <svg class="star-svg" stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 256 256" height='35' width='35' xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z">
                        </path>
                    </svg>
                    دو خوابه مستر
                </p>
                <p>
                    <svg class="star-svg" stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 256 256" height='35' width='35' xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z">
                        </path>
                    </svg>
                    حیاط در سمت شمالی ملک
                </p>
                <p>
                    <svg class="star-svg" stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 256 256" height='35' width='35' xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z">
                        </path>
                    </svg>
                    نور گیری عالی
                </p>
                <p>
                    <svg class="star-svg" stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 256 256" height='35' width='35' xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z">
                        </path>
                    </svg>
                    توالت فرهنگی و ایرانی
                </p>
                <p>
                    <svg class="star-svg" stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 256 256" height='35' width='35' xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z">
                        </path>
                    </svg>
                    بالکن بزرگ
                </p>
                <p>
                    <svg class="star-svg" stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 256 256" height='35' width='35' xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z">
                        </path>
                    </svg>
                    انباری 4*4
                </p>
            </div>

        </article>
        <img class="row-img" src="https://picsum.photos/1920/1081" alt="">
    </section>

    <section class="row pay-options">
        <h3 class="section_title">
            <span>
                شرایط پرداخت
            </span>
        </h3>
        <div class="options-wrapper">

            <article class="row-data title_small">
                <p>

                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها
                    و
                    متون
                    بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                    متنوع
                    بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                    متنوع
                    با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                </p>
                <div class="percent-container">
                    <p class="holder title_small">
                        درصد پیش پرداختی
                    </p>
                    <p class="data title_hero">
                        <span class="percent-sign">
                            %
                        </span>
                        <span class="percent-number">
                            0
                        </span>
                    </p>
                </div>
            </article>
            <img class="row-img" src="https://picsum.photos/1920/1081" alt="">
        </div>

    </section>

    <section class="row price">
        <h3 class="section_title">
            <svg class="first" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z">
                </path>
            </svg>
            <span>
                قیمت
            </span>
            <svg class="sec" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z">
                </path>
            </svg>
        </h3>

        <table>
            <thead className='title_small'>
                <tr>
                    <th className='id'>واحد</th>
                    <th className='name'>متراژ</th>
                    <th className='lname'>قیمت</th>
                </tr>
            </thead>
            <tbody className='title_smaller'>
                <tr>
                    <td>یه خواب</td>
                    <td>125</td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td>دو خواب</td>
                    <td>125</td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td>یه خواب</td>
                    <td>125</td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td>سه خواب</td>
                    <td>125</td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td>استودیو</td>
                    <td>125</td>
                    <td> 100 </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
{% endblock content %}