{% extends 'base.html' %}

{% block header %}

<link href="/static/style/project/project.css" rel="stylesheet" />

<script src="/static/js/mark/project.js" defer></script>

{% endblock header %}

{% block content %}
<main class="project">
    <div class="project-wrapper">
        <aside class="project-data">
            <h2 class="title_hero">
                <span>
                    Caesar Cliff
                </span>
            </h2>
            <p class="title_small">
                یک مجتمع مسکونی مدرن است که توسط گروه آفیک طراحی شده است و ویلاها و آپارتمان های نیمه مستقل را ارائه می
                دهد.
                این پروژه واقع شده در موقعیتی با تنها 100 متر فاصله از ساحل و احاطه شده با مناظر خیره کننده دریای
                مدیترانه و کوه ها که مکان مناسبی برای زندگی آرام یا صرفا برای لذت بردن از تعطیلات.

                <br />
                <br />
                <br />

                Caesar Cliff در روستای Esentepe گیرنه واقع شده است.آب و هوای بسیار مناسب مدیترانه ای ، به دلیل نسیم دریا
                و جنگل های کاج، فصل تابستان و همچنین زمستان بسیار معتدل است.
            </p>
            <div class="project-ticks title_smaller">
                <p class="tick">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1" viewBox="0 0 48 48"
                        enable-background="new 0 0 48 48" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"></polygon>
                    </svg>
                    26 کیلومتر رانندگی تا گیرنه، مرکز شهر
                </p>
                <p class="tick">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1" viewBox="0 0 48 48"
                        enable-background="new 0 0 48 48" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"></polygon>
                    </svg>
                    7 کیلومتر رانندگی تا منطقه گلف، بزرگترین در قبرس
                </p>
                <p class="tick">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1" viewBox="0 0 48 48"
                        enable-background="new 0 0 48 48" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"></polygon>
                    </svg>
                    7 کیلومتر رانندگی تا منطقه گلف، بزرگترین در قبرس
                </p>
                <p class="tick">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1" viewBox="0 0 48 48"
                        enable-background="new 0 0 48 48" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"></polygon>
                    </svg>
                    32 کیلومتر رانندگی تا کوه های بشپرمک
                </p>
                <p class="tick">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1" viewBox="0 0 48 48"
                        enable-background="new 0 0 48 48" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"></polygon>
                    </svg>
                    55 کیلومتر رانندگی تا فاماگوستا، شهر باستانی
                </p>
                <p class="tick">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1" viewBox="0 0 48 48"
                        enable-background="new 0 0 48 48" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"></polygon>
                    </svg>
                    5 کیلومتر رانندگی تا ساحل خلیج لاک پشت
                </p>
                <p class="tick">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1" viewBox="0 0 48 48"
                        enable-background="new 0 0 48 48" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"></polygon>
                    </svg>
                    56 کیلومتر رانندگی تا لفکوشا، پایتخت
                </p>
                <p class="tick">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1" viewBox="0 0 48 48"
                        enable-background="new 0 0 48 48" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"></polygon>
                    </svg>
                    2.5 کیلومتری روستای Esentepe
                </p>
            </div>
        </aside>
        <aside class="project-imgs">
            <div class="main-img"></div>
            <div class="other-imgs"></div>
        </aside>
    </div>
</main>
{% endblock content %}