{% extends 'base.html' %}

{% block header %}

<link href="/static/style/project/project.css" rel="stylesheet" />

<script src="/static/js/mark/project.js" defer></script>

{% endblock header %}

{% block content %}
<main class="project">
    <header class="section_title">
        <span>
            Caesar Cliff

            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </span>
    </header>
    <section class="row">
        <article class="row-data title_small">
            <h3 class="section_title">
                <span>

                    توضیحات
                </span>
            </h3>

            <p>

                Caesar Cliff یک مجتمع مسکونی مدرن است که توسط گروه آفیک طراحی شده است و ویلاها و آپارتمان های نیمه مستقل
                را ارائه می دهد.
                این پروژه واقع شده در موقعیتی با تنها 100 متر فاصله از ساحل و احاطه شده با مناظر خیره کننده دریای
                مدیترانه و
                کوه ها که مکان مناسبی برای زندگی آرام یا صرفا برای لذت بردن از تعطیلات.

                26 کیلومتر رانندگی تا گیرنه، مرکز شهر
                <br />
                7 کیلومتر رانندگی تا منطقه گلف، بزرگترین در قبرس
                <br />
                46 کیلومتر رانندگی تا فرودگاه ارجان
                <br />
                32 کیلومتر رانندگی تا کوه های بشپرمک
                <br />
                55 کیلومتر رانندگی تا فاماگوستا، شهر باستانی
                <br />
                5 کیلومتر رانندگی تا ساحل خلیج لاک پشت
                <br />
                56 کیلومتر رانندگی تا لفکوشا، پایتخت
                <br />
                2.5 کیلومتری روستای Esentepe
            </p>

        </article>
        <img class="row-img" src="https://picsum.photos/1920/1080" alt="">
    </section>
    <section class="row">
        <article class="row-data title_small">
            Caesar Cliff در روستای Esentepe گیرنه واقع شده است.آب و هوای بسیار مناسب مدیترانه ای ، به دلیل نسیم دریا و
            جنگل های کاج، فصل تابستان و همچنین زمستان بسیار معتدل است.
        </article>
        <img class="row-img" src="/static/image/project/four.jpeg" alt="">
    </section>
    <section class="row">
        <article class="row-data title_small">
            26 کیلومتر رانندگی تا گیرنه، مرکز شهر
            <br />
            7 کیلومتر رانندگی تا منطقه گلف، بزرگترین در قبرس
            <br />
            46 کیلومتر رانندگی تا فرودگاه ارجان
            <br />
            32 کیلومتر رانندگی تا کوه های بشپرمک
            <br />
            55 کیلومتر رانندگی تا فاماگوستا، شهر باستانی
            <br />
            5 کیلومتر رانندگی تا ساحل خلیج لاک پشت
            <br />
            56 کیلومتر رانندگی تا لفکوشا، پایتخت
            <br />
            2.5 کیلومتری روستای Esentepe
        </article>
        <img class="row-img" src="/static/image/project/three.jpeg" alt="">
    </section>
</main>
{% endblock content %}