{% extends 'base.html' %}

{% block header %}

<link href="/static/style/cyprus/cyprus.css" rel="stylesheet" />


<script src="/static/js/mark/cyprus.js" defer></script>

{% endblock header %}

{% block content %}
<main class="cyprus">
    <header class="cyprus-header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
       url(/static/image/cyprus/header.webp)">
        <h2 class="header-title section_title">چرا قبرس؟</h2>
    </header>
    <section class="articles">

        <article class="nature">
            <div class="section-main">
                <div class="data">
                    <h3 class="section_title">
                        <span>
                            طبیعت
                        </span>
                    </h3>
                    <p class="title_smaller">
                        قبرس شمالي به طور كلي داراي اب و هواي گرم و مرطوب مديترانه اي بوده و در اكثر روز هاي هاي سال هوا
                        افتابي است.
                        اين جزيره به داشتن سواحل بكر و زيبايش معروف است كه در فصل تابستان توريست هاي زيادي را به خود جذب
                        مي كند.براي مثال مي توان سواحل شهر هاي گيرنه و فاماگوستا را نام برد و از معروف ترين سواحل اين
                        جزيره گلدن بيچ كه در كارپاز قرار دارد است. همچنين مي توان به كوه هاي كانتارا نيز اشاره كرد. </p>
                </div>
                <img src="https://picsum.photos/1500/1000" alt="">
            </div>
            <div class="section-extra">
                <img src="https://picsum.photos/1501/1000" alt="">
                <img src="https://picsum.photos/1502/1000" alt="">
            </div>
        </article>
    </section>

</main>
{% endblock content %}