{% extends 'base.html' %}

{% block header %}

<link href="/static/style/cyprus/cyprus.css" rel="stylesheet" />


<script src="/static/js/mark/cyprus.js" defer></script>

{% endblock header %}

{% block content %}
<main class="cyprus">
    <header class="cyprus-header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
       url(/static/image/cyprus/header.webp)">
        <h2 class="header-title section_title">چرا قبرس؟</h2>
    </header>
    <section class="articles">

        <article class="nature">
            <div class="section-main">
                <div class="data">
                    <h3 class="section_title">
                        <span>
                            طبیعت
                        </span>
                    </h3>
                    <p class="title_smaller">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها
                        و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                        و
                        کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال
                        و
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها
                        و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                        و
                        کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال
                        و
                        کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال
                        و
                    </p>
                </div>
                <img src="https://picsum.photos/1500/1000" alt="">
            </div>
            <div class="section-extra">
                <img src="https://picsum.photos/1501/1000" alt="">
                <img src="https://picsum.photos/1502/1000" alt="">
            </div>
        </article>
    </section>

</main>
{% endblock content %}