{% extends 'base.html' %}

{% block header %} 

<link href="/static/style/home/home.css" rel="stylesheet" />


<script src="/static/js/mark/home.js" defer></script>

{% endblock header %}

{% block content %}
<main class="home">
    <div class="home-baner"></div>

    <section class="hero-section" style="background-image: url(/static/image/home/hero.jpg);">
        <div class="hero-wrapper">
            <div class="hero-data">
                <h2 class="typer-wrapper title_small">
                با برایت فیوچر 
                <div class="typer-word-wrapper">
                    <span class="typer-word">
                        
                        اخذ اقامت 
                    </span>
                    <div class="cursor"></div>
                </div>
                خود را به ما بسپارید
                </h2>
                <h1 class="title_hero company">
                    شرکت مشاور املاک 
                    <span class="logo-text">

                        برایت فیوچر
                    </span>
                </h1>
                <h3 class="title_smaller detial">
                    شرکت برایت فیوچر با بیش از 20 سال سابقه کاری و اخذ اقامت بیش از 100 نفر در خدمت شما مشتریان عزیز میباشد
                </h3>
                <div class="cta-wrapper">
                    <button class="hero-btn main">
                        ارتباط با ما
                    </button>
                    <button class="hero-btn sec">
                        چرا قبرس؟
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}