{% extends 'base.html' %}

{% block header %} 

<link href="/static/style/home/home.css" rel="stylesheet" />


<script src="/static/js/mark/home.js" defer></script>

{% endblock header %}

{% block content %}
<main class="home">
    <div class="home-baner"></div>

    <section class="hero-section" style="background-image: url(/static/image/home/hero.jpg);">
        <div class="hero-wrapper">
            <div class="hero-data">
                <h2 class="typer-wrapper title_small">
                با برایت فیوچر 
                <div class="typer-word-wrapper">
                    <span class="typer-word">
                        
                        اخذ اقامت 
                    </span>
                    <div class="cursor"></div>
                </div>
                خود را به ما بسپارید.
                </h2>
                <h1 class="title_hero company">
                    شرکت مشاور املاک 
                    <span class="logo-text-white">

                        برایت فیوچر
                    </span>
                </h1>
                <h3 class="title_smaller detial">
                    شرکت برایت فیوچر با بیش از 20 سال سابقه کاری و اخذ اقامت بیش از 100 نفر در خدمت شما مشتریان عزیز میباشد
                </h3>
                <div class="cta-wrapper title_smaller">
                    <button class="hero-btn main">
                        ارتباط با ما
                    </button>
                    <button class="hero-btn sec">
                        چرا قبرس؟
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us" id="about">
        <h3 class="about-header section_title">
            <span>
                چرا
            </span>
            <span class="logo-text-white">
                برایت فیوچر
            </span>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height='40' width='40' xmlns="http://www.w3.org/2000/svg"><path d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"></path></svg>
        </h3>
        <div class="about-wrapper">
            <div class="about-column">
                <div class="column-data">
                    <h4 class="section_title">سابقه کاری</h4>
                    <p class="title_small detial">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                    </p>
                </div>
                <img class="about-img" src="https://picsum.photos/1920/1081"  alt="">
            </div>
            <div class="about-column">
                <div class="column-data">
                    <h4 class="section_title">فلان دلیل</h4>
                    <p class="title_small detial">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                    </p>
                </div>
                <img class="about-img" src="https://picsum.photos/1920/1080"  alt="">
            </div>
            <div class="about-column">
                <div class="column-data">
                    <h4 class="section_title">فلان دلیل </h4>
                    <p class="title_small detial">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                    </p>
                </div>
                <img class="about-img" src="https://picsum.photos/1920/1083"  alt="">
            </div>
        </div>
    </section>
    <section class="why-cyprus" id="cyprus">
        <h3 class="section_title cyprus-header">
            چرا قبرس؟
        </h3>
    </section>
</main>
{% endblock content %}