section.about-container {
    min-height: 80vh;
    width: 100%;

    background-color: white;
    color: black;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12vh;

    padding: 3vh 5vw;

    @media screen and (max-width: 768px) {
        gap: 6vh;
        min-height: 100vh;
    }

    .about-header {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        isolation: isolate;

        width: clamp(0px, 500px, 90%);

        span {
            white-space: nowrap;
            padding: 0 calc(1em + 10px);
        }

        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: black;
        }
    }
    .about-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        width: clamp(0px, 1300px, 100%);

        position: relative;

        .about-content {
            display: flex;
            flex-direction: column;
            gap: 4vh;

            .content-descrption {
                @media screen and (min-width: 768px) {
                    width: 70%;
                }
            }
        }

        .about-content-wrapper,
        .about-img-wrapper {
            width: clamp(0px, 600px, 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            isolation: isolate;

            .about-content {
                &:not(.prev, .active, .next) {
                    display: none;
                }
                position: relative;

                &.prev,
                &.next {
                    position: absolute;
                    transform: translateY(-50%);
                    opacity: 0;
                }
                &.active {
                    animation: fadeIn 1s cubic-bezier(0.45, 0.02, 0.09, 0.98)
                        forwards;

                    @keyframes fadeIn {
                        from {
                            transform: translateY(-50%);
                            opacity: 0;
                        }
                        to {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }
                &.prev {
                    animation: fadeOut 0.9s forwards ease-in-out;

                    @keyframes fadeOut {
                        from {
                            transform: translateY(0);
                            opacity: 1;
                        }
                        to {
                            transform: translateY(50%);
                            opacity: 0;
                        }
                    }
                }
            }
        }
        .about-content-wrapper {
            @media screen and (max-width: 768px) {
                margin-bottom: 12vh;
            }
            @media screen and (min-width: 768px) {
                margin-top: -5vh;
            }
        }
        .about-img-wrapper {
            width: clamp(0px, 350px, 60%);
            aspect-ratio: 1/1;

            .about-slider {
                display: grid;
                place-items: center;

                width: 100%;
                height: 100%;

                &:not(.prev, .active, .next) {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }

                &.prev,
                &.next {
                    position: absolute;
                }

                img {
                    width: 100%;
                    object-fit: cover;

                    border-radius: 10px;
                }

                &.next {
                    animation: next-slider 1.5s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
                    @keyframes next-slider {
                        0% {
                            position: absolute;
                            z-index: -1;
                        }
                        50% {
                            transform: scale(0.6);
                            top: 0;
                            left: 0;
                            translate: -50% -50%;
                            z-index: 1;
                        }
                        100% {
                            transform: scale(0.6);
                            top: 0;
                            left: 0;
                            translate: -50% -50%;
                            z-index: 1;
                        }
                    }
                }
                &.active {
                    animation: active-slider 1.5s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
                    @keyframes active-slider {
                        0% {
                            transform: scale(0.6);
                            top: 0;
                            left: 0;
                            translate: -50% -50%;
                            z-index: 1;
                        }
                        50% {
                            transform: scale(1);
                            position: relative;
                            translate: 0 0;
                            z-index: 2;
                        }
                        100% {
                            transform: scale(1);
                            position: relative;
                            translate: 0 0;
                            z-index: 2;
                        }
                    }
                }
                &.prev {
                    animation: prev-slider 1.5s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
                    @keyframes prev-slider {
                        0% {
                            z-index: 2;
                            opacity: 0;
                        }
                        1% {
                            opacity: 1;
                        }
                        50% {
                            bottom: 0;
                            right: 0;
                            translate: 50% 50%;
                            transform: scale(0.6);
                            opacity: 1;
                        }
                        100% {
                            bottom: 0;
                            right: 0;
                            translate: 50% 50%;
                            transform: scale(0.6);
                            z-index: 1;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
