section.hero-container {
    width: 100%;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 3rem 4rem;

    background-color: var(--sixty-percent);

    @media screen and (max-width: 1024px) {
        padding: 1.5rem 2rem;
        padding-top: 15vh;
    }
    @media screen and (max-width: 768px) {
        padding: 0.5rem 1rem;
        padding-top: 15vh;
    }

    .hero-wrapper {
        width: clamp(0px, 100%, 1500px);
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: calc(5vh + 20px);
        flex-wrap: wrap;

        color: black;

        .hero-img {
            // width: clamp(0px, 450px, 100%);

            object-fit: cover;

            opacity: 0;
            translate: 50%;

            animation: hero-img-slidein 1s 5s ease-in-out forwards;

            @keyframes hero-img-slidein {
                from {
                    opacity: 0;
                    translate: 20%;
                }
                to {
                    opacity: 1;
                    translate: 0;
                }
            }
        }
        .hero-content {
            display: flex;
            flex-direction: column;
            gap: 2vh;

            width: clamp(0px, 600px, 100%);

            @media screen and (min-width: 600px) {
                margin-left: 10%;
                margin-bottom: 5%;
            }

            .typer-wrapper {
                font-family: 'yekan';
                @media screen and (max-width: 1024px) {
                    min-height: 60px;
                }
                .word {
                    color: black;
                    border-bottom: 1px solid black;

                    font-family: 'iranBold';
                }
            }

            .detail {
                @media screen and (min-width: 768px) {
                    font-family: 'yekan';
                }
            }

            .cta-wrapper {
                display: flex;
                gap: calc(3vw + 10px);

                margin-top: 3vh;

                .hero-button {
                    border: 0;
                    height: 100%;

                    padding: 1rem 3rem;
                    border-radius: 10px;

                    font: inherit;
                    font-family: iranBold;

                    white-space: nowrap;

                    box-shadow: 0px 20px 15px -20px black;
                    cursor: pointer;

                    @media screen and (max-width: 768px) {
                        padding: 1em 3em;
                    }

                    &.main {
                        background: var(--ten-percent);
                        color: var(--accent-color);
                        perspective: 1000px;
                    }
                    &.sec {
                        background-color: var(--sixty-percent);
                        box-shadow: none;
                        border: 1px solid black;
                        color: black;
                    }
                }
            }
        }
    }
}
