section.honors-container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12vh;

    position: relative;

    .honor-header {
        overflow: hidden;
        padding: 3vh 5vw;

        &.active {
            span {
                animation: honors-header-fadein 1s
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
            }
        }
        span {
            display: inline-block;
            transform: translateY(-200%);

            @keyframes honors-header-fadein {
                from {
                    transform: translateY(-200%);
                }
                to {
                    transform: translateY(0);
                }
            }
        }
    }
    canvas {
        width: 100%;
        height: 100%;
    }

    .honors-wrapper {
        width: clamp(0px, 100%, 1500px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        &.active {
            .honor-container {
                .honor-cup {
                    &::after {
                        animation: after-honor-glass 1s 2s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                        @keyframes after-honor-glass {
                            from {
                                bottom: 0;
                                left: 0%;
                                translate: -100% 100%;
                            }
                            to {
                                bottom: 100%;
                                left: 100%;
                                translate: -80% 80%;
                            }
                        }
                    }
                    &::before {
                        animation: before-honor-glass 1s 2s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                        @keyframes before-honor-glass {
                            from {
                                top: 0;
                                right: 0%;
                                translate: 100% -100%;
                            }
                            to {
                                top: 100%;
                                right: 100%;
                                translate: 80% -80%;
                            }
                        }
                    }

                    .cup-img {
                        animation: honor-cup-img-fadein 2.5s 1.8s
                            cubic-bezier(0.79, 0.04, 0.09, 0.98) forwards;

                        @keyframes honor-cup-img-fadein {
                            0% {
                                opacity: 0;
                                transform: translateY(100%);
                            }

                            80% {
                                transform: translateY(0);
                            }
                            100% {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }
                }
                .honor-content {
                    height: clamp(100px, 100%, 130px);
                    .honor-name {
                        span {
                            animation: honor-name-fadein 1s 1s ease-in-out
                                forwards;

                            @keyframes honor-name-fadein {
                                from {
                                    transform: translateY(100%);
                                }
                                to {
                                    transform: translateY(0);
                                }
                            }
                        }

                        &::before,
                        &::after {
                            animation: honor-name-line-fadein 1s 2s ease-in-out
                                forwards;

                            @keyframes honor-name-line-fadein {
                                from {
                                    width: 0;
                                }
                                to {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .honor-description {
                        animation: honor-description-fadein 1s 2s ease-in-out
                            forwards;

                        @keyframes honor-description-fadein {
                            from {
                                transform: translateY(300%);
                            }
                            to {
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }
        }

        .honor-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: clamp(0px, 70%, 500px);
            aspect-ratio: 1/1.1;

            &:not(.prev, .active, .next) {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }

            &.prev,
            &.next {
                position: absolute;
                height: 100%;
            }

            &.active {
                z-index: 3;

                animation: honor-cup-active-transform 2s
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
                @keyframes honor-cup-active-transform {
                    0% {
                        translate: -125%;
                        scale: 0.9;
                    }
                    80% {
                        translate: 0;
                    }
                    100% {
                        scale: 1;
                        translate: 0;
                    }
                }
            }
            &.next {
                z-index: 1;
                animation: honor-cup-next-transform 2s
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
                @keyframes honor-cup-next-transform {
                    0% {
                        translate: 0;
                    }
                    80% {
                        translate: -125%;
                    }
                    100% {
                        z-index: 1;
                        scale: 0.9;
                        translate: -125%;
                    }
                }
            }
            &.prev {
                z-index: 2;
                animation: honor-cup-prev-transform 2s
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
                @keyframes honor-cup-prev-transform {
                    0% {
                        translate: 0;
                    }
                    80% {
                        translate: 125%;
                    }
                    100% {
                        scale: 0.9;
                        translate: 125%;
                    }
                }
            }

            .honor-cup {
                display: grid;
                place-items: center;

                width: 100%;
                flex: 1 0;

                background-color: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(5px);

                z-index: 1;

                position: relative;
                overflow: hidden;

                &::before,
                &::after {
                    content: '';
                    position: absolute;

                    width: 50%;
                    height: 50%;

                    opacity: 0.32;
                    z-index: 1;
                }
                &::after {
                    bottom: 0;
                    left: 0%;
                    translate: -100% 100%;

                    background-image: linear-gradient(
                        45deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 0) 30%,
                        white 100%
                    );
                }
                &::before {
                    top: 0;
                    right: 0%;
                    translate: 100% -100%;

                    background-image: linear-gradient(
                        226deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 0) 30%,
                        white 100%
                    );
                }

                .cup-img {
                    position: absolute;

                    width: 80%;
                    height: 100%;
                    object-fit: contain;

                    opacity: 0;
                    transform: translateY(100%);
                }
            }
            .honor-content {
                width: 105%;

                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                gap: calc(1.5vh + 5px);

                padding: 1rem 2rem;

                background-color: #42291a;

                position: relative;
                overflow: hidden;

                @media screen and (max-width: 768px) {
                    padding: 1em 1em;
                }

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;

                    transform: translateY(-30%);

                    width: 20px;

                    background-color: #42291a;

                    aspect-ratio: 1/1;
                    transform-origin: top;
                }

                &::before {
                    left: 2px;
                    rotate: -30deg;
                }
                &::after {
                    right: 2px;
                    rotate: 30deg;
                }

                .honor-name,
                .honor-description {
                    position: relative;
                    z-index: 1;
                }

                .honor-name {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;
                    overflow: hidden;

                    span {
                        display: inline-block;
                        padding: 0 10px;
                        white-space: nowrap;

                        transform: translateY(100%);
                    }

                    &::before,
                    &::after {
                        content: '';

                        width: 0;
                        height: 2px;

                        background-color: white;
                    }
                }
                .honor-description {
                    text-align: center;
                    width: 80%;

                    transform: translateY(300%);
                    overflow: hidden;

                    span {
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}
