@use 'config' as g;
@use 'theme';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;

    &:focus {
        outline: 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--sixty-percent);
    border: 2px solid white;
    border-radius: 20px;
}

// selection
::selection {
    color: #fff;
    background-color: #555;
}

.root {
    background-color: #121212;
    @media (prefers-color-scheme: dark) {
        body {
            @include theme.dark;
        }
        background-color: var(--accent-color);
    }
    @media (prefers-color-scheme: light) {
        body {
            @include theme.dark;
        }
        background-color: var(--accent-color);
    }
}

body {
    overflow-x: hidden;

    direction: rtl;

    padding-top: 10vh;
}

html,
body {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    body {
        @include theme.dark;
    }
    main.home {
        background-color: var(--sixty-percent);
        color: var(--accent-color);
    }
}
@media (prefers-color-scheme: light) {
    body {
        @include theme.light;
    }
    main.home {
        background-color: var(--sixty-percent);
        color: var(--accent-color);
    }
}

span.logo-text {
    color: var(--sixty-percent);
}

.title_hero {
    font-size: g.$TITLE_FONTSIZE_HERO;
    font-family: 'iranBold';
}
.section_title {
    font-size: clamp(1.6rem, 2.9vw + 1.3rem, 2.8rem);
    font-family: 'iranBold';
}
.title {
    font-size: g.$TITLE_FONTSIZE;
    font-family: 'yekanBold';
}
.title_small {
    font-size: g.$TITLE_FONTSIZE_SMALL;
    font-family: 'yekanBold';
}
.title_smaller {
    font-size: g.$TITLE_FONTSIZE_SMALLER;
    font-family: 'yekan';
}

.description {
    font-size: g.$DESCRIPTION_FONT_SIZE;
    font-family: 'yekan';
}
.description_small {
    font-size: g.$DESCRIPTION_FONT_SIZE_SMALL;
    font-family: 'yekan';
}

.icon {
    display: grid;
    place-items: center;
}

.contact-wrapper {
    width: clamp(300px, 100%, 1300px);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 10vh;

    padding: 2em 2.5em;

    border-radius: 15px;

    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 15px -7px black;

    @media screen and (max-width: 768px) {
        padding: 2em 1.5em;
    }

    aside {
        &.location {
            height: 100%;
            width: clamp(0px, 100%, 500px);

            iframe {
                width: 100%;

                border: 0;
                border-radius: 7.5px;
            }
        }

        &.contact-data {
            width: clamp(0px, 100%, 500px);
            height: 100%;

            padding: 0 2rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: calc(4vh + 5px);

            @media screen and (max-width: 768px) {
                padding: 0;
            }

            .contact-header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                width: 100%;

                gap: 2vh;

                .link {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .link-holder {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: calc(1vw + 5px);
                    }
                    .data {
                        direction: ltr;
                    }
                }
            }
            .contact-body {
                width: 100%;
            }
        }
    }
}

// reset
a {
    color: unset;
    text-decoration: none;
    font: inherit;
}
button {
    border: none;
    margin: 0;
    cursor: pointer;
}
