.products-page-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;

    padding: 5vh 0;
    padding-top: 0;

    .products-header {
        display: grid;
        place-items: center;
        color: var(--primary-color);

        width: 100%;
        aspect-ratio: 1/0.19;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: left 40%;

        @media screen and (max-width: 768px) {
            aspect-ratio: 1/0.3;
        }

        .header-title {
            color: white;
        }
    }

    .products-wrapper {
        width: 100%;

        padding: 5vh 3vw;

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: calc(5vh + 10px);
        column-gap: calc(3vw + 5px);

        .product-card {
            width: clamp(0px, 100%, 400px);
            aspect-ratio: 0.8/1;

            display: flex;
            flex-direction: column;

            border-radius: 10px;
            box-shadow: 0px 5px 20px -10px black;

            overflow: hidden;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: translateY(-1rem);
            }

            img.card-img {
                height: 85%;
                max-width: 100%;

                flex: 1;

                object-fit: cover;
            }
            figcaption.card-caption {
                width: 100%;
                background-color: var(--sixty-percent);
                height: 15%;

                display: flex;
                align-items: center;
                justify-content: center;

                font-family: 'yekanBold';
            }
        }
    }
}
